<section class="card">
  {{!-- <a href="/recipe/{{id}}"> --}}
    <img src="/images/{{filename}}">
    <div class="painting-details">
      <h3>{{title}}</h3>
      <p>Ingredients: {{ingredients}}</p>
      <p>Directions: {{ directions}}</p>
    </div>
    <button class="saveButton" data-image="{{filename}}" data-title="{{title}}" data-id="{{id}}" data-ingredients="{{ingredients}}" data-directions="{{directions}}">Save Button</button>
    {{!--
  </a> --}}
</section>






