
<section class="card">
  <h3>{{title}}</h3>
    <img src="/images/{{filename}}">
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <p><strong>Ingredients:</strong> {{ingredients}}</p>
        </div>
        <br>
        <div class="col">
          <p> <strong>Directions:</strong> {{ directions}}</p>
        </div>
      </div>
    <button class="saveButton" data-image="{{filename}}" data-title="{{title}}" data-id="{{id}}" data-ingredients="{{ingredients}}" data-directions="{{directions}}">Save Button</button>
</section>



  


