<section class="card col-6">
  <h3>{{title}}</h3>
  <div class="image-container">
    <img src="/images/{{filename}}">
  </div>
  <button class="deleteButton" data-image="{{filename}}" data-title="{{title}}" data-id="{{id}}"
    data-ingredients="{{ingredients}}" data-directions="{{directions}}">Remove Recipe</button>
  <div class="row align-items-start">
    <div class="col">
      <p><strong> Ingredients: </strong><br>
        {{!-- {{ingredients}} --}}
        {{#each ingredients as |ingredient|}}
        <input type="checkbox">{{ingredient}}</input><br>
        {{/each}}
      </p>
    </div>
    <br>
    <div class="col">
      <p> <strong> Directions: </strong><br>
        {{!-- {{ directions}} --}}
        {{#each directions as |direction|}}
        <input type="checkbox">{{direction}}</input><br>
        {{/each}}
      </p>
    </div>
  </div>
</section>